{{- $namespace := .Values.namespace -}}
{{- if .Values.auth }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: reporter-config-apache
  namespace: {{ $namespace }}
data:
  general.conf: |
    {{- if .Values.auth.ldap }}

    {{- if and .Values.auth.ldap .Values.auth.ldap.cert }}
    LDAPTrustedGlobalCert CA_BASE64 /data/config/apache/authldap-cert.crt
    {{- end }}

    {{- if (hasKey .Values.auth.ldap "verifyCert") }}
    {{- if .Values.auth.ldap.verifyCert }}
    LDAPVerifyServerCert On
    {{- else }}
    LDAPVerifyServerCert Off
    {{- end }}
    {{- end }}

    {{- end }}

  auth.conf: |
{{- if and .Values.apache .Values.apache.cors }}
    <LimitExcept OPTIONS>
{{- end }}
{{- if and .Values.apache .Values.apache.cors .Values.apache.cors.allowOrigin }}
    Header set Access-Control-Allow-Origin "{{ .Values.apache.cors.allowOrigin }}"
{{- end }}
{{- if and .Values.apache .Values.apache.cors .Values.apache.cors.allowCredentials }}
    Header set Access-Control-Allow-Credentials "{{ .Values.apache.cors.allowCredentials }}"
{{- end }}
{{- if and .Values.apache .Values.apache.cors .Values.apache.cors.allowMethods }}
    Header set Access-Control-Allow-Methods "{{ .Values.apache.cors.allowMethods }}"
{{- end }}
{{- if and .Values.apache .Values.apache.cors .Values.apache.cors.allowHeaders }}
    Header set Access-Control-Allow-Headers "{{ .Values.apache.cors.allowHeaders }}"
{{- end }}
{{- if and .Values.apache .Values.apache.cors .Values.apache.cors.exposeHeaders }}
    Header set Access-Control-Expose-Headers "{{ .Values.apache.cors.exposeHeaders }}"
{{- end }}
{{- if and .Values.apache .Values.apache.cors .Values.apache.cors.maxAge }}
    Header set Access-Control-Max-Age "{{ .Values.apache.cors.maxAge }}"
{{- end }}

{{- if .Values.auth.accessRequire }}
    Require {{ .Values.auth.accessRequire }}
{{- else if .Values.auth.authFile }}
{{ .Values.auth.authFile | indent 4 }}
{{- else }}
    Require all granted
{{- end }}
{{- if and .Values.apache .Values.apache.cors }}
    </LimitExcept>
{{- end }}

  authapi.conf: |
{{- if and .Values.apache .Values.apache.cors }}
    <LimitExcept OPTIONS>
{{- end }}
{{- if .Values.auth.adminRequire }}
    Require {{ .Values.auth.adminRequire }}
{{- else if .Values.auth.authApiFile }}
{{ .Values.auth.authApiFile | indent 4 }}
{{- end }}
{{- if and .Values.apache .Values.apache.cors }}
    </LimitExcept>
{{- end }}

{{- if .Values.auth.paths }}
  authpaths.conf: |
{{ .Values.auth.paths | indent 4 }}
{{- end }}

{{- if .Values.auth.oidc }}
  authoidc.conf: |
    OIDCRedirectURI https://{{ .Values.hostname }}{{ .Values.auth.oidc.redirectEndpoint | default "/oauth2callback" }}
    OIDCCryptoPassphrase {{ .Values.auth.oidc.cryptoPassphrase }}
    OIDCProviderMetadataURL {{ .Values.auth.oidc.providerMetadataURL }}
    OIDCClientID {{ .Values.auth.oidc.clientID }}
    OIDCClientSecret {{ .Values.auth.oidc.clientSecret }}
    OIDCScope "{{ .Values.auth.oidc.scope | default "openid email" }}"
    OIDCProviderTokenEndpointAuth {{ .Values.auth.oidc.tokenEndpointAuth | default "client_secret_basic" }}
    OIDCXForwardedHeaders X-Forwarded-Proto
{{- end }}

{{- if .Values.auth.basic }}
  authbasic.conf: |
    AuthUserFile /data/config/apache/authpasswd
  authpasswd: |
{{ .Values.auth.basic.authpasswd | indent 4 }}
{{- end }}

{{- if .Values.auth.ldap }}
  authldap.conf: |
    AuthLDAPURL {{ .Values.auth.ldap.authLDAPURL | quote }}
    AuthLDAPBindDN {{ .Values.auth.ldap.bindDN | quote }}
    AuthLDAPBindPassword {{ .Values.auth.ldap.bindPassword | quote }}
    AuthLDAPGroupAttributeIsDN {{ if (hasKey .Values.auth.ldap "groupAttributeIsDN") }}{{ if .Values.auth.ldap.groupAttributeIsDN }}On{{ else }}Off{{ end }}{{ else }}On{{ end }}
    AuthLDAPGroupAttribute {{ .Values.auth.ldap.groupAttribute | default "member" | quote }}
{{- end }}

{{- if and .Values.auth.ldap .Values.auth.ldap.cert }}
  authldap-cert.crt: |
{{ .Values.auth.ldap.cert | indent 4 }}
{{- end }}

{{- end }} 